---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-oceanbase-oceanbase-com-v1alpha2-k8sclustercredential
  failurePolicy: Fail
  name: mk8sclustercredential.kb.io
  rules:
  - apiGroups:
    - oceanbase.oceanbase.com
    apiVersions:
    - v1alpha2
    operations:
    - CREATE
    - UPDATE
    resources:
    - k8sclustercredentials
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-oceanbase-oceanbase-com-v1alpha1-obcluster
  failurePolicy: Fail
  name: mobcluster.kb.io
  rules:
  - apiGroups:
    - oceanbase.oceanbase.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - obclusters
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-oceanbase-oceanbase-com-v1alpha1-obclusteroperation
  failurePolicy: Fail
  name: mobclusteroperation.kb.io
  rules:
  - apiGroups:
    - oceanbase.oceanbase.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - obclusteroperations
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-oceanbase-oceanbase-com-v1alpha1-obresourcerescue
  failurePolicy: Fail
  name: mobresourcerescue.kb.io
  rules:
  - apiGroups:
    - oceanbase.oceanbase.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - obresourcerescues
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-oceanbase-oceanbase-com-v1alpha1-obtenant
  failurePolicy: Fail
  name: mobtenant.kb.io
  rules:
  - apiGroups:
    - oceanbase.oceanbase.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - obtenants
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-oceanbase-oceanbase-com-v1alpha1-obtenantbackuppolicy
  failurePolicy: Fail
  name: mobtenantbackuppolicy.kb.io
  rules:
  - apiGroups:
    - oceanbase.oceanbase.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - obtenantbackuppolicies
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-oceanbase-oceanbase-com-v1alpha1-obtenantoperation
  failurePolicy: Fail
  name: mobtenantoperation.kb.io
  rules:
  - apiGroups:
    - oceanbase.oceanbase.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - obtenantoperations
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-oceanbase-oceanbase-com-v1alpha2-k8sclustercredential
  failurePolicy: Fail
  name: vk8sclustercredential.kb.io
  rules:
  - apiGroups:
    - oceanbase.oceanbase.com
    apiVersions:
    - v1alpha2
    operations:
    - CREATE
    - UPDATE
    resources:
    - k8sclustercredentials
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-oceanbase-oceanbase-com-v1alpha1-obcluster
  failurePolicy: Fail
  name: vobcluster.kb.io
  rules:
  - apiGroups:
    - oceanbase.oceanbase.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - obclusters
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-oceanbase-oceanbase-com-v1alpha1-obclusteroperation
  failurePolicy: Fail
  name: vobclusteroperation.kb.io
  rules:
  - apiGroups:
    - oceanbase.oceanbase.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - obclusteroperations
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-oceanbase-oceanbase-com-v1alpha1-obresourcerescue
  failurePolicy: Fail
  name: vobresourcerescue.kb.io
  rules:
  - apiGroups:
    - oceanbase.oceanbase.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - obresourcerescues
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-oceanbase-oceanbase-com-v1alpha1-obtenant
  failurePolicy: Fail
  name: vobtenant.kb.io
  rules:
  - apiGroups:
    - oceanbase.oceanbase.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - obtenants
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-oceanbase-oceanbase-com-v1alpha1-obtenantbackuppolicy
  failurePolicy: Fail
  name: vobtenantbackuppolicy.kb.io
  rules:
  - apiGroups:
    - oceanbase.oceanbase.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - obtenantbackuppolicies
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-oceanbase-oceanbase-com-v1alpha1-obtenantoperation
  failurePolicy: Fail
  name: vobtenantoperation.kb.io
  rules:
  - apiGroups:
    - oceanbase.oceanbase.com
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - obtenantoperations
  sideEffects: None
