---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - nodes
  - serviceaccounts
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  - persistentvolumes
  - pods
  - secrets
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims/status
  - persistentvolumes/status
  - pods/status
  - secrets/status
  - services/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - pods/finalizers
  - secrets/finalizers
  - services/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - pods/log
  verbs:
  - get
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs/finalizers
  verbs:
  - update
- apiGroups:
  - batch
  resources:
  - jobs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - k8s.oceanbase.com
  resources:
  - k8sclusters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - k8s.oceanbase.com
  resources:
  - k8sclusters/finalizers
  verbs:
  - update
- apiGroups:
  - k8s.oceanbase.com
  resources:
  - k8sclusters/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obclusteroperations
  - obclusters
  - obparameters
  - obresourcerescues
  - observers
  - obtenantbackuppolicies
  - obtenantbackups
  - obtenantoperations
  - obtenantrestore
  - obtenantrestores
  - obtenants
  - obtenantvariables
  - obzones
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obclusteroperations/finalizers
  - obclusters/finalizers
  - obparameters/finalizers
  - obresourcerescues/finalizers
  - observers/finalizers
  - obtenantbackuppolicies/finalizers
  - obtenantbackups/finalizers
  - obtenantoperations/finalizers
  - obtenantrestores/finalizers
  - obtenants/finalizers
  - obtenantvariables/finalizers
  - obzones/finalizers
  verbs:
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obclusteroperations/status
  - obclusters/status
  - obparameters/status
  - obresourcerescues/status
  - observers/status
  - obtenantbackuppolicies/status
  - obtenantbackups/status
  - obtenantoperations/status
  - obtenantrestore/status
  - obtenantrestores/status
  - obtenants/status
  - obtenantvariables/status
  - obzones/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs:
  - get
  - list
  - watch
