---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - secrets/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - services/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs/finalizers
  verbs:
  - update
- apiGroups:
  - batch
  resources:
  - jobs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - persistentvolumes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - pods/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obclusters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obclusters/finalizers
  verbs:
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obclusters/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obparameters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obparameters/finalizers
  verbs:
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obparameters/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obresourcerescues
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obresourcerescues/finalizers
  verbs:
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obresourcerescues/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - observers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - observers/finalizers
  verbs:
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - observers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obtenant
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obtenant/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obtenantbackup
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obtenantbackup/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obtenantbackuppolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obtenantbackuppolicies/finalizers
  verbs:
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obtenantbackuppolicies/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obtenantbackups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obtenantbackups/finalizers
  verbs:
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obtenantbackups/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obtenantoperations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obtenantoperations/finalizers
  verbs:
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obtenantoperations/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obtenantrestore
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obtenantrestore/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obtenantrestores
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obtenantrestores/finalizers
  verbs:
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obtenantrestores/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obtenants
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obtenants/finalizers
  verbs:
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obtenants/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obzones
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obzones/finalizers
  verbs:
  - update
- apiGroups:
  - oceanbase.oceanbase.com
  resources:
  - obzones/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs:
  - get
  - list
  - watch
