---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.3
  creationTimestamp: null
  name: obtenantrestores.cloud.oceanbase.com
spec:
  group: cloud.oceanbase.com
  names:
    kind: OBTenantRestore
    listKind: OBTenantRestoreList
    plural: obtenantrestores
    singular: obtenantrestore
  scope: Namespaced
  versions:
  - name: v2alpha1
    schema:
      openAPIV3Schema:
        description: OBTenantRestore is the Schema for the obtenantrestores API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: OBTenantRestoreSpec defines the desired state of OBTenantRestore
            properties:
              foo:
                description: Foo is an example field of OBTenantRestore. Edit obtenantrestore_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: OBTenantRestoreStatus defines the observed state of OBTenantRestore
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
