
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: obclusters.cloud.oceanbase.com
spec:
  group: cloud.oceanbase.com
  names:
    kind: OBCluster
    listKind: OBClusterList
    plural: obclusters
    singular: obcluster
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: OBCluster is the Schema for the obclusters API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: OBClusterSpec defines the desired state of OBCluster
            properties:
              clusterID:
                minimum: 1
                type: integer
              imageObagent:
                type: string
              imageRepo:
                type: string
              resources:
                properties:
                  cpu:
                    anyOf:
                    - type: integer
                    - type: string
                    pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                    x-kubernetes-int-or-string: true
                  memory:
                    anyOf:
                    - type: integer
                    - type: string
                    pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                    x-kubernetes-int-or-string: true
                  storage:
                    items:
                      properties:
                        name:
                          type: string
                        size:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        storageClassName:
                          type: string
                      required:
                      - name
                      - size
                      - storageClassName
                      type: object
                    type: array
                  volume:
                    properties:
                      name:
                        type: string
                      path:
                        type: string
                    required:
                    - name
                    - path
                    type: object
                required:
                - cpu
                - memory
                - storage
                - volume
                type: object
              tag:
                type: string
              topology:
                items:
                  properties:
                    cluster:
                      type: string
                    parameters:
                      items:
                        properties:
                          name:
                            type: string
                          value:
                            type: string
                        required:
                        - name
                        - value
                        type: object
                      type: array
                    zone:
                      items:
                        properties:
                          name:
                            type: string
                          nodeSelector:
                            additionalProperties:
                              type: string
                            type: object
                          region:
                            type: string
                          replicas:
                            minimum: 1
                            type: integer
                        required:
                        - name
                        - nodeSelector
                        - replicas
                        type: object
                      type: array
                  required:
                  - cluster
                  - parameters
                  - zone
                  type: object
                type: array
            required:
            - clusterID
            - imageObagent
            - imageRepo
            - resources
            - tag
            - topology
            type: object
          status:
            description: OBClusterStatus defines the observed state of OBCluster
            properties:
              status:
                type: string
              topology:
                items:
                  properties:
                    cluster:
                      type: string
                    clusterStatus:
                      type: string
                    lastTransitionTime:
                      format: date-time
                      type: string
                    zone:
                      items:
                        properties:
                          availableReplicas:
                            type: integer
                          expectedReplicas:
                            type: integer
                          name:
                            type: string
                          region:
                            type: string
                          zoneStatus:
                            type: string
                        required:
                        - availableReplicas
                        - expectedReplicas
                        - name
                        - region
                        - zoneStatus
                        type: object
                      type: array
                  required:
                  - cluster
                  - clusterStatus
                  - lastTransitionTime
                  - zone
                  type: object
                type: array
            required:
            - status
            - topology
            type: object
        required:
        - metadata
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
