
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: rootservices.cloud.oceanbase.com
spec:
  group: cloud.oceanbase.com
  names:
    kind: RootService
    listKind: RootServiceList
    plural: rootservices
    singular: rootservice
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: RootService is the Schema for the rootservices API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: RootServiceSpec defines the desired state of RootService
            properties:
              topology:
                items:
                  properties:
                    cluster:
                      type: string
                    parameters:
                      items:
                        properties:
                          name:
                            type: string
                          value:
                            type: string
                        required:
                        - name
                        - value
                        type: object
                      type: array
                    zone:
                      items:
                        properties:
                          name:
                            type: string
                          nodeSelector:
                            additionalProperties:
                              type: string
                            type: object
                          region:
                            type: string
                          replicas:
                            minimum: 1
                            type: integer
                        required:
                        - name
                        - nodeSelector
                        - replicas
                        type: object
                      type: array
                  required:
                  - cluster
                  - parameters
                  - zone
                  type: object
                type: array
            required:
            - topology
            type: object
          status:
            description: RootServiceStatus defines the observed state of RootService
            properties:
              topology:
                items:
                  properties:
                    cluster:
                      type: string
                    zoneRootService:
                      items:
                        properties:
                          name:
                            type: string
                          role:
                            type: integer
                          serverIP:
                            type: string
                          status:
                            type: string
                        required:
                        - name
                        - role
                        - serverIP
                        - status
                        type: object
                      type: array
                  required:
                  - cluster
                  - zoneRootService
                  type: object
                type: array
            required:
            - topology
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
