---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.3
  creationTimestamp: null
  name: obclusterrestores.cloud.oceanbase.com
spec:
  group: cloud.oceanbase.com
  names:
    kind: OBClusterRestore
    listKind: OBClusterRestoreList
    plural: obclusterrestores
    singular: obclusterrestore
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: OBClusterRestore is the Schema for the obclusterrestores API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: OBClusterRestoreSpec defines the desired state of OBClusterRestore
            properties:
              foo:
                description: Foo is an example field of OBClusterRestore. Edit obclusterrestore_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: OBClusterRestoreStatus defines the observed state of OBClusterRestore
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
