apiVersion: oceanbase.oceanbase.com/v1alpha1
kind: OBCluster
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
  {{- include "oceanbase-cluster.labels" . | nindent 4 }}
  annotations:
  {{- toYaml .Values.annotations | nindent 4 }}
spec:
  clusterName: {{ .Values.clusterName | default .Release.Name | quote }}
  clusterId: {{ .Values.clusterId | default 1 }}
  standalone: {{ .Values.standalone | default false }}
  userSecrets:
  {{- range $key, $value := .Values.userSecrets }}
    {{ $key }}: {{ $value | quote }}
  {{- end }}
  topology: 
    {{- toYaml .Values.topology | nindent 4 }}
  observer:
    image: oceanbase/oceanbase-cloud-native:{{ .Chart.AppVersion }}
    {{- with .Values.observerConfig }}
    resource:
      {{- toYaml .resource | nindent 6 }}
    storage:
     {{- range $key, $size := .storages }} 
      {{ $key }}:
        storageClass: {{ $.Values.storageClass }}
        size: {{ $size }}
     {{- end }}
    {{- end }}
  {{- if .Values.monitorEnabled }}
  monitor:
    image: oceanbase/obagent:{{ .Values.obAgentVersion }}
    resource:
      {{- toYaml .Values.monitorResource | nindent 6 }}
  {{- end }}
  parameters:
  {{- range $param := .Values.parameters }}
    - name: {{ $param.name }}
      value: {{ $param.value | quote }}
  {{- end }}
  {{- if .Values.backupVolumeEnabled }}
  backupVolume:
    volume: 
      name: backup
      {{- toYaml .Values.backupVolume | nindent 6 }}
  {{- end }}