name: addlicense
on:
  pull_request:
    branches:
      - master

jobs:
  addlicense:
    name: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.20'
          check-latest: true
          cache: true
      - name: addlicense-check
        run: |
          go install github.com/google/addlicense@latest
          find . -type f -name "*.go" | xargs addlicense -check
