name: golangci-lint
on:
  pull_request:
    branches:
      - master
      - "*_release"
    paths:
      - "**/*.go"

permissions:
  contents: read
  pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: "1.25"
          check-latest: true
          cache: true

      - name: generate bindata
        run: make dashboard-bindata-gen dashboard-doc-gen

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.8.0
          args: --verbose --timeout=10m --max-same-issues=30
          only-new-issues: true
          skip-cache: true
