name: golangci-lint
on:
  pull_request:
    branches:
      - master
      - "*_release"
    paths:
      - "**/*.go"

permissions:
  contents: read
  pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: "1.22"
          check-latest: true
          cache: true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          config-inline: |
            [worker.oci]
              max-parallelism = 1

      - name: generate parser
        run: make generate-parser

      - name: generate bindata
        run: make dashboard-bindata-gen dashboard-doc-gen

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.54
          args: --verbose --timeout=10m --max-same-issues=30
          only-new-issues: true
          skip-cache: true
