name: release helm charts

on: 
  push:
    tags: 
      - '2.[0-9]+.[0-9]+'
      - 'chart-2.[0-9]+.[0-9]+'
      - 'oceanbase-[0-9]+.[0-9]+.[0-9]+.[0-9]+'
      - "dashboard-[0-9]+.[0-9]+.[0-9]+"

jobs:
  release-chart:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Run chart-releaser
        uses: powerfooI/chart-releaser-action@v1.6.2
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        with:
          mark_as_latest: false
          skip_existing: true
          pages_branch: master
          pages_index_path: docsite/static/index.yaml
          pr: true